html,
body {
  height: 100%;
  font-size: 1.1rem;
  font-family: "Lobster", cursive;
}

.gradient {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.page-header {
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../static/img/edit1.png);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
  color: #000;
  font-size: 1.25rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.service {
}
