{% extends "layout.html" %} 
  
{% block content %}

  <div style="text-align: center; font-size: 25px;">
    <p><a href = "{{ url_for('todo',username=username) }}">Look at ToDo list</a></p>
    <p><a href = "{{ url_for('search',username=username) }}">Find Text</a></p>
    <p><a href = "{{ url_for('rename',username=username) }}">Rename Markdown file</a></p>
    <p><a href = "{{ url_for('markdown_to_pdf',username=username) }}">Markdown to pdf</a></p>
    <p><a href = "{{ url_for('trackinghours',user_name=username) }}">Tracking Hour</a></p>
    <p><a href = "{{ url_for('visualize',user_name=username) }}">Visualize Project</a></p>
    <p><a href = "{{ url_for('flashcards',username=username) }}">Practice with Flash Cards</a></p>
    <p><a href = "{{ url_for('renderpage',username=username) }}">Render Files</a></p>
    <p><a href = "{{ url_for('addtags',username=username) }}">Add Tags to Files</a></p>
    
  </div> 

{% endblock %}
