{% extends "layout.html" %} {% block content %}
<h1>Welcome Home!</h1>
<div>

<pre class="tab1">
<a href = "{{ url_for('todo',username=username) }}">Look at ToDo list</a>
<a href = "/search">Find Text</a>
<a href = "{{ url_for('rename',username=username) }}">Rename Markdown file</a>
<a href = "{{ url_for('markdown_to_pdf',username=username) }}">Markdown to pdf</a>
<a href="{{ url_for('index',user_name=username) }}">Time Management</a>
<a href = "/flashcards">Practice with Flash Cards</a>
<a href = "/render">Render Files</a>
</pre>

</div> 

<form action="/logout">
  <br /><input type="submit" value="Log out" />
</form>

<form action="/members/delete">
  <br /><input type="submit" value="Delete Account" />
</form>

{% endblock %}
