{% extends "layout.html" %}
{% block content %}  
  <hr>
  {% if flash_cards %}
  {% for card in flash_cards %}
    <h3>Question #{{card.id}}:</h3>
    <ul><b>{{card.question}}</b></ul>
    <form method="POST" novalidate>
      {{ form.hidden_tag() }}
        <p>
            {{ form.answer(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>

    </form>
    <p>
      {{checker}} 
    </p>
    <hr>
    <form method="get" action="{{ url_for('question',num=card.id + 1, username=username) }}">      
        <button type="submit">next</button>
    </form>
  {% endfor %}
  {% else %}
   <a href="/flashcards">click here</a>
  {% endif %}
{% endblock %}
