{% extends "layout.html" %}

{% block content %}
<h2>Rename Markdown file</h2>
    <form method="POST" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <p> {{ form.file() }} <br>
        Enter new name: <br>
        {{ form.new_name(size=32) }} <br> <br>
        {{ form.submit() }}</p>
    </form>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endwith %} 
    </div>
{% endblock %}
