{% extends "layout.html" %}

{% block content %}
<h2>Search</h2>
	<div>
		<form method="POST" novalidate>
			{{ form.hidden_tag() }}
			<p> Enter the text you want to find in the path myapp/text/: </p>		
			<p>{{ form.result(size=40) }} </p>
			<p>{{ form.submit() }}</p> 
		</form>
	</div>	

<h2>Result</h2>
	<ul>
		{% if results %}
		<p> <b> The text '{{ form.result.data }}' was found in the file(s) named: </b> </p>
		{% for result in results %}
		<li> {{ result }} </li>
		{% endfor %}
		{% else %}
		<li> No results found!</li>
		{% endif %}
	</ul>
{% endblock %}
