{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Welcome to Study Buddy!</h1>
        <p>Create and account and you can <br/>
            
            <ul>
                <li>upload notes</li>
                <li>create flashcards</li>
                <li>create a todo list</li>
                <li>personlize time management tools</li>
            </ul>
        </p>
        <p>To get started, create and account or login</p>
        <form action="/signup">
            <input type="submit" value="Sign up!" />
        </form>
        <form action="/login">
            <input type="submit" value="Login" />
        </form>
    </div>
{% endblock %}